<!-- video start -->
<div class="video-container">
  <div class="channel-info">
    <img src="<%= channelInfo.channelPictureUrl %>" alt="channel image" />
    <h2><%=channelInfo.name%></h2>
  </div>
  <div class="video-info">
    <a href="<%= video.videoUrl %>">
      <img src="<%=video.thumbnailUrl%>" alt="thumbnail" />
    </a>
    <div  class="video-description-box">
      <a style="color: black;  text-decoration: none;" href="<%= video.videoUrl %>">
        <p class="video-description-box-title"><%=video.title %></p>
      </a>
      <p class="video-description-box-views-date">
        <%= video.createdAt %> • <%=video.likesCounter%> likes • <%=video.commentsCounter%> comments
      </p>
      <a style="color: black;  text-decoration: none;" href="<%= video.videoUrl %>">
        <p class="video-description-box-description"><%= video.description %></p>
      </a>
    </div>
  </div>
</div>
<!-- video end -->
