<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTile%></title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/forms.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <div id="content">
      <h1><%=pageHeader %></h1>
      <hr />
      <%- include('../forms/upload-edit-video.ejs')  %>
    </div>
    <div id="toastBox"></div>
    <script src="/public/js/message.js"></script>
    <script>
      showMessages(<%-errorMessages%> , <%-successMessages%> );
    </script>
  </body>
</html>
