<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTile%></title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/channel.css" />
  </head>
  <body>
    <script src="/public/js/apis.js"></script>
    <script src="/public/js/message.js"></script>
    <%- include('../includes/navigation.ejs') %>
    <div id="content">
      <div id="channel-info-container">
        <img src="<%= channelInfo.channelPictureUrl %>" alt="channel image" />

        <div id="channel-info-container-info">
          <h1><%=channelInfo.name%></h1>
          <p id="handel-subscribers">
            @<%=channelInfo.handle%> • <%=channelInfo.subscribersCounter%>
            subscribers
          </p>
          <% if(isLoggedIn){ %>
          <div id="subscribe-button-container">
            <%if(!myChannel) {%>
            <button id = "subscribeButton" class="subscribe-button" onclick="submitSubscribe('<%=channelInfo.handle%>')">subscribe</button>
            <%}else{%>
            <a
              style="margin-top: 1rem; color: black"
              href="/creator/upload-video"
            >
              upload a new video
            </a>
            <%}%>
          </div>
          <% } %>

        </div>
      </div>
      <hr />

      <% if(videoArray.length == 0){ %>
      <h3>No videos available!</h3>
      <% } %> <% videoArray.forEach(video => {%>

      <!-- video start -->
      <%- include('../includes/video-item.ejs', {video  }) %>
      <hr />
      <!-- video end -->
      <% }); %>
    </div>


    <div style="margin-left: auto; margin-right: auto; width: max-content">
      <% if(previousPage) {%>
      <a style="margin-right: 2rem" href="?page=<%=previousPage%>">previous page</a>
      <% } %> <% if(nextPage) {%>
      <a href="?page=<%=nextPage%>">next page</a>
      <% } %>
    </div>
    <script src="/public/js/utils.js"></script>
    <script>
      showMessages(<%-errorMessages%> , <%-successMessages%> );
      <%if(isLoggedIn && !myChannel){%>
      setSubscribeButton(<%=isSubscribed%>);
      <%}%>
    </script>

  </body>
</html>
