<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTile%></title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <div id="content">
      <h1><%=PageHeader%></h1>
      <hr />
      
      <!-- video start -->
      <%- include('../includes/video-item.ejs') %>
      <hr />
      <!-- video start -->

      
      <!-- video start -->
      <%- include('../includes/video-item.ejs') %>
      <hr />
      <!-- video start -->


      
      <!-- video start -->
      <%- include('../includes/video-item.ejs') %>
      <hr />
      <!-- video start -->
       
      <!-- video start -->
      <%- include('../includes/video-item.ejs') %>
      <hr />
      <!-- video start -->
    </div>
    
    <script src="/public/js/message.js"></script>    
    <script>
      showMessages(<%-errorMessages%> , <%-successMessages%> );
    </script>
  </body>
</html>
