<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTile%></title>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/video.css" />
  </head>
  <body>
    <script src="/public/js/message.js"></script>
    <script src="/public/js/apis.js"></script>
    <%- include('../includes/navigation.ejs') %>
    <div id="content">
      <div id="video-player-container">
        <div class="channel-info">
          <a href="<%=channelUrl%>">
            <img src="<%=channelPictureURL%>" alt="channel image" />
          </a>
          <a style="color: black; text-decoration: none" href="<%=channelUrl%>">
            <h2><%=channelName%></h2>
          </a>
        </div>

        <video controls>
          <source src="<%=videoUrl%>" type="video/mp4" />
        </video>
        <div id="title-like-box">
          <h2><%=title%></h2>
          <p class="video-description-box-views-date">
            <%=createdAt%> • <%=likesCounter%> likes • <%=commentsCounter%>
            comments
          </p>
          <p><%=description%></p>
          <% if(isLoggedIn) {%>
          <button
            class="like-button"
            id="likeButton"
            onclick="submitLike(<%=videoId%>)"
          >
            Like
          </button>
          <% } %>
        </div>
        <div class="comment-form">
          <textarea
            id="commentTextarea"
            placeholder="Write your comment here..."
          ></textarea>
          <button onclick="submitComment(<%=videoId%>)" id="commentSubmitButton" class="comment-button">
            Comment
          </button>
        </div>
      </div>
      <hr />
      <div id="comments-box">

      </div>
    </div>

    <script src="/public/js/utils.js"></script>
    <script>
      var videoId = <%=videoId%>; 
      showMessages(<%-errorMessages%> , <%-successMessages%> );
      <%if(isLoggedIn){%>
        setLikeButton(<%=isLiked%>);
      <%}%>
    </script>
  </body>
</html>
