<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=pageTile%></title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <div id="content">
      <h1><%=PageHeader%></h1>
      <hr />
      
      <% if(videoArray.length == 0){ %>
      <h3>No videos available!</h3>
      <% } %> <% videoArray.forEach(video => {%>

      <!-- video start -->
      <%- include('../includes/video-item.ejs', {video}) %>
      <hr />
      <!-- video end -->
      <% }); %>

      
    <div style="margin-left: auto; margin-right: auto; width: max-content">
      <% if(previousPage) {%>
      <a style="margin-right: 2rem" href="?page=<%=previousPage%>">previous page</a>
      <% } %> <% if(nextPage) {%>
      <a href="?page=<%=nextPage%>">next page</a>
      <% } %>
    </div>
    
    <script src="/public/js/message.js"></script>    
    <script>
      showMessages(<%-errorMessages%> , <%-successMessages%> );
    </script>
  </body>
</html>
